.wp-block-image.is-style-hand-drawn-js img {
	color: inherit;
	border: 3px dashed currentcolor;
	overflow: hidden;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 50px 5px 50px 5px/5px 50px 5px 50px !important;
	transform: rotate(2deg);
	padding: 10px;

	&:hover {
		background-color: #9acd32;
	}
}
